$color-cerulean: #00a0d8;
$color-charcoal-grey: #393f47;
$color-mid-blue: #1d74ba;
$color-light-navy-blue: #2b4f7b;
$color-pale-grey: #f6f6f7;
$color-cloudy-blue: #c3c5c7;
$color-rosy-pink: #f56e96;
$color-leafy-green: #3eb835;
$color-white: #fff;